/* Resets for default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hide the elements by default */
#studiedContainer,
#rpContainer,
#focusContainer,
#demandContainer,
#disposeContainer,
#studyContainer,
#sellContainer {
    display: none;
    text-align: left;
}



body {

    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;

    background-color: black;
    background-image:
        linear-gradient(45deg, transparent 44%, #692c2c 44%, #692c2c 46%, transparent 46%),
        linear-gradient(-45deg, transparent 44%, #692c2c 44%, #692c2c 46%, transparent 46%);
    background-size: 6px 6px;
    background-position: 0 0, 2.5 2.5;
}

}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.box {
    margin-top: 5%;
    border: 2px solid white;
    background-color: rgb( 33 ,35 ,37);
    padding: 20px;
    text-align: center;
    width: 30%; 
    margin-right: 5%; /* This gives it a 5% margin to the right */
}


h2 {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: rgb(7, 49,  55  ); /* Neon Blue */
    color: white;
    border: 2px solid rgb(7, 49,  55  );  /* Add this border so the transition looks smooth */
    transition: border-color 0.50;  /* 1/6th of a second */
    cursor: pointer;
    margin-top: 20px; /* Spacing between the number and the button */
}

/* ... (rest of your styles) ... */
button.pressed {
    border-color: white;
}



#resetBtn {
    position: absolute;
    bottom: 10px; /* Adjust this value as needed */
    right: 10px; /* Adjust this value as needed */
}

